# Ambientes virtuais
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Cobertura de testes
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/settings.json
.idea/
*.swp
*.swo

# Variáveis de ambiente e segredos
.env
*.env

# Outros
tests/